@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden !important ;
}
::selection{
  background-color: brown;
  color: white;
}
/* Dark mode */
body.dark-mode {
  background: radial-gradient(circle, rgba(29, 29, 29, 1) 0%, rgba(17, 17, 17, 1) 100%);
  color: white;
  transition: background 0.3s ease, color 0.3s ease; 
}

/* Light mode */
body.light-mode {
  background: linear-gradient(to top, #2D0A0A, #1A0202);
  color: white; 
  transition: background 0.3s ease, color 0.3s ease; 
}

.form-container {
  position: relative;  
  padding-bottom: 20px; 
}

.form-container h3 {
  margin-bottom: 24px;  
}

.form-container::after {
  content: '';
  position: absolute;
  top: 60px;  
  left: 0;
  width: 100%;
  height: 2px;  
  background-color: rgba(228, 131, 131, 0.3); 
}
/*  scroll-to-top button */
.scroll-to-top-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #333 !important;
  position: fixed !important;
  bottom: 20px !important;
  right: 30px !important;
  z-index: 10!important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)!important;
  transition: background-color 0.3s ease!important;
  overflow: hidden;
}
@media (max-width:767px){
  .scroll-to-top-button{
    /* display: none !important; */
  }
}
.scroll-to-top-button:hover {
  background-color: #333 !important; 
}
.scroll-to-top-button:hover svg {
  fill: white !important; 
}

.scroll-to-top-button svg {
  width: 25px;
  height: 25px;
  fill: #333;
}



@keyframes lineMove {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(200%);
  }
}

